body, html{
  margin: 0;
  font-family: sans-serif;
  letter-spacing: 0.8px;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: lightgrey;
  height: 100vh;
  width: 100vw;
}

